    .main-banner {}
    
    .banner-content {
        display: flex;
        height: 580px;
        flex-direction: column;
    }
    
    .title-banner-box {
        width: 320px;
        margin-top: 100px;
        border: 1px white solid;
        background-color: black;
        opacity: 0.5;
    }
    
    .title-banner {
        color: white;
        font-weight: 900;
        opacity: 1.5;
        padding: 30px;
        text-align: left;
    }
    
    .language {
        padding: 5px;
        font-size: 80px;
    }
    
    .description {
        color: white;
        padding: 20px;
        font-size: 16px;
    }
    
    .fade-bottom {
        height: 40px;
        background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0.92));
    }